@import "css/normalize.css";
@import "css/fonts.css";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.weather {
  padding-top: 180px;
  height: 650px;
}
.weather .container {
  width: 600px;
  height: 435px;
  margin: 0 auto;
  background-color: red;
}
.weather .container .weather_form form input {
  padding-left: 10px;
  width: 600px;
  height: 32px;
}
.weather .container .weather_form form .search {
  position: absolute;
  right: 145px;
}
.weather .container .weather_main {
  display: flex;
}
.weather .container .weather_main .main_tabs {
  width: 298px;
  height: 404px;
  background-color: white;
  border: 1px solid #000000;
  border-top: none;
}
.weather .container .weather_main .main_tabs .tabs_body .tabs_block {
  position: relative;
  height: 360px;
  display: none;
}
.weather .container .weather_main .main_tabs .tabs_body .tabs_block:first-child:before {
  background-color: rgba(255, 0, 0, 0.63);
}
.weather .container .weather_main .main_tabs .tabs_body .tabs_block:last-child:before {
  background-color: rgba(255, 0, 0, 0.63);
  left: 197px;
}
.weather .container .weather_main .main_tabs .tabs_body .tabs_block:nth-child(2):before {
  background-color: rgba(255, 0, 0, 0.63);
  left: 98px;
}
.weather .container .weather_main .main_tabs .tabs_body .tabs_block:last-child {
  background-color: gold;
}
.weather .container .weather_main .main_tabs .tabs_body .tabs_block:nth-child(2) {
  background-color: aqua;
}
.weather .container .weather_main .main_tabs .tabs_body .tabs_block:target {
  display: block;
}
.weather .container .weather_main .main_tabs .tabs_body .tabs_block:before {
  content: "";
  width: 100px;
  height: 44px;
  position: absolute;
  bottom: -44px;
}
.weather .container .weather_main .main_tabs .tabs_items {
  display: flex;
  align-content: center;
}
.weather .container .weather_main .main_tabs a {
  text-align: center;
  line-height: 40px;
  border: 1px;
  width: 100px;
  height: 44px;
  display: block;
  text-decoration: none;
  color: black;
  border-top: 1px solid #000000;
}
.weather .container .weather_main .main_tabs a span {
  position: relative;
  z-index: 2;
}
.weather .container .weather_main .main_tabs a a:first-child {
  border-right: 1px solid #000000;
}
.weather .container .weather_main .main_tabs a a:last-child {
  border-left: 1px solid #000000;
}
.weather .container .weather_main .main_tabs a a:hover {
  background-color: #5b5959;
  color: white;
}
.weather .container .weather_main .main_locations {
  width: 304px;
  height: 404px;
  background-color: white;
  border: 1px solid #000000;
  border-top: none;
  border-left: none;
}
.weather .container .weather_main .main_locations .locations_added {
  padding-top: 20px;
  padding-left: 20px;
  font-size: 24px;
  text-align: left;
  color: black;
  height: 67px;
  border-bottom: 1px solid #000000;
}
.weather .container .weather_main .main_locations .locations {
  font-size: 24px;
  padding-left: 20px;
  padding-top: 20px;
}
.weather .container .weather_main .main_locations .locations .locations_value {
  line-height: 40px;
}

/*# sourceMappingURL=style.css.map */
